/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

$primary-color: #feeda5;
$secondary-color: #357b70;

%structure {
    background-color: #feeda5;
    font-weight: 400;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    height:200px;
}
header {
    @extend %structure;
    font-size: 12px;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}
.page-header_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px
}
.page-header_item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}
navigation-list_item--active {
  text-decoration: none;
}
main {
    @extend %structure;
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}
footer {
  @extend %structure;
  font-size: 12px;
  height: 125;
}
a {
  color: #29776c;
  text-decoration: none;
}
a:visted {
  color: #05676e;
}
a:hover {
  text-decoration: none;
}
a:active {
  color: #489c79;
}
%button {
  border: none;
  font-family: inherit;
  background-color: #357b70;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0,0,0,0.3);
}

button {
    @extend %button;
  color: white;
}
button:hover, button:focus {
  cursor: pointer;
  opacity: 0.8;
}
.button, button {
  @extend %button;
  display: inline-block;
  color: black;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}
.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}
.profile {
  max-width: 700px;
  margin: 0 auto;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.navigation-list {
 list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 20px 300px 20px 300px;
  grid-template-columns: 300px 300px 300px;
  -ms-grid-rows: 300px 20px 300px;
  grid-template-rows: 300px 300px;
  grid-gap: 20px;
}
.grid > *:nth-child(1) {-ms-grid-row: 1;-ms-grid-column: 1;
}
.grid > *:nth-child(2) {-ms-grid-row: 1;-ms-grid-column: 3;
}
.grid > *:nth-child(3) {-ms-grid-row: 1;-ms-grid-column: 5;
}
.grid > *:nth-child(4) {-ms-grid-row: 3;-ms-grid-column: 1;
}
.grid > *:nth-child(5) {-ms-grid-row: 3;-ms-grid-column: 3;
}
.grid > *:nth-child(6) {-ms-grid-row: 3;-ms-grid-column: 5;
}
.grid-item {
  background-color: lightgrey;
}
@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }}
@media all and (min-width:500px) and (max-width:750px){
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width:750px){
   .grid{
     grid-gap:10px;
   }
  .grid_item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
  h1 {
    font-size: 22px;
  }
}
nav ul li a:before,
nav ul li a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: black;
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
}
nav ul li a:before
{
    top: 0px;
}
nav.main-navigation a:after
{
    bottom: 0px;
 }
nav ul li a:hover:before,
nav ul li a:hover:after
{
    opacity: 1;
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}